.content {
    background-color: white;
    flex-wrap: wrap;
    margin-left:20px;
    margin-right:20px;
}

.row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal; 
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;  
    align-items: center;
    background-color:#fff;
    overflow:auto;
    flex-wrap: wrap;
}

.cell {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; 
    background-color:#fff;
    overflow:auto;
    padding:5px;
    background-color: white;
    
}

img { 
    max-width: 300x;
    max-height: 300px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }